@font-face {
  font-family: "Catsitter";
  src: url(Chewy-Regular.ttf);
}

* {
  box-sizing: border-box;
}

h1 {
    font-family:"Catsitter";  
    color: #F16F74;
    text-align: center;
    margin: 0px;
    padding: 0;

}

#banner {
    background-color: #ffb9dd;
}

/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color:  #ffb9dd;
    overflow: auto;
    border: #000;
    border-width: 10;
    font-family: "Catsitter"
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
    width: 23.74%; 
    text-align: center; 
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #ffb9dd;
  }
  
  /* Style the current/active link */
  .navbar a.active {
    background-color: #380522;
    color: white;
  }
  
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; 
    }
  }
  
body {
  background-image: url(maicatsitter/Mai-bg.jpg);
  background-size: cover;
}

/* Contact page */

#contactbd {
  background-image: url(Contacts\better.png);
  background-size: cover;
}

#banner_contact {
  background-color: #fdc6c6;
}


.navbar_contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color:  #fdc6c6;
  overflow: auto;
  border: #000;
  border-width: 10;
  font-family: "Catsitter"
}

/* Navigation links */
.navbar_contact a {
  /* flex: 1; */
  width: 25%;
  min-width: 75px;
  padding: 12px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 17px;
  text-align: center; 
}

/* Add a background color on mouse-over */
.navbar_contact a:hover {
  background-color: #fdc6c6;
}

/* Style the current/active link */
.navbar_contact a.active {
  background-color: #380522;
  color: white;
}

/* Contact links */
#links {
  display: flex;
}

#links a {
  padding: auto;
  margin-left: 100px;
  margin-right: 200px;
  block-size: auto;
}

main {
  text-align: center;
}




